" When Vim starts, the 'compatible' option is on. This will be used when Vim starts its initializations. But as soon as a user vimrc file is found, or a vimrc file in the current directory, or the "VIMINIT" environment variable is set, it will be set to 'nocompatible'.
set nocompatible

" Set tab spacing
set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab

" Required:
" Add the dein installation directory into runtimepath
set runtimepath+={{dein_install_directory}}/repos/github.com/Shougo/dein.vim

" Required:
call dein#begin('{{dein_install_directory}}')

" Let dein manage dein
call dein#add('{{dein_install_directory}}/repos/github.com/Shougo/dein.vim')
if !has('nvim')
  call dein#add('roxma/nvim-yarp')
  call dein#add('roxma/vim-hug-neovim-rpc')
endif

" Add or remove your plugins here like this:
"call dein#add('Shougo/neosnippet.vim')
"call dein#add('Shougo/neosnippet-snippets')
call dein#add('preservim/nerdtree')
call dein#add('ctrlpvim/ctrlp.vim')
call dein#add('airblade/vim-gitgutter')
call dein#add('scrooloose/syntastic')
call dein#add('Shatur/neovim-ayu')
call dein#add('gregsexton/matchtag')
call dein#add('neoclide/coc.nvim', { 'merged': 0, 'rev': 'release' })
call dein#add('vim-airline/vim-airline')
call dein#add('vim-airline/vim-airline-themes')
call dein#add('mogelbrod/vim-jsonpath')
call dein#add('hashivim/vim-terraform')


" Required:
call dein#end()

" Required:
filetype plugin indent on
syntax enable

" If you want to install not installed plugins on startup.
"if dein#check_install()
" call dein#install()
"endif

" NERDTree
nnoremap <Tab> :NERDTreeToggle<CR>

" Remap Visual Block mode to q, since Ctrl+V is paste
nnoremap q <c-v>

" Syntastic
set statusline+=%#warningmsg#
set statusline+=%{SyntasticStatuslineFlag()}
set statusline+=%*

let g:syntastic_always_populate_loc_list = 1
let g:syntastic_auto_loc_list = 1
let g:syntastic_check_on_open = 1
let g:syntastic_check_on_wq = 0

" Color Scheme
colorscheme ayu-dark

" Set number bar
set number

" enable true colors support
set termguicolors

" set airline theme
let g:airline_theme='ayu_dark'

